.body{
    background:url(./gaming.gif) no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.lib{
 justify-content: center;
 text-align: center;
}